<nav class="pagination-bar">
    <div class="total no-record" ng-if="!paginationCtrl.displayPagination">
        <strong translate="NO_PAGINATION"></strong>
    </div>

    <div class="total" ng-if="paginationCtrl.displayPagination">
        from: <strong>{{paginationCtrl.currentCursor || 'first' }}</strong> to: <strong>{{paginationCtrl.nextCursor || 'no more pages'}}</strong>, rows on this page: <strong>{{paginationCtrl.totalItems}}</strong>
    </div>

    <ul class="pagination pagination-sm pull-right" role="group" aria-label="pagination" ng-if="paginationCtrl.displayPagination">
        <li><a href ng-if="paginationCtrl.currentCursor" ng-click="paginationCtrl.firstPage()" translate="First"></a></li>
        <li><a href ng-if="paginationCtrl.currentCursor" ng-click="paginationCtrl.back()" translate="PREVIOUS"></a></li>
        <li><a href ng-if="paginationCtrl.nextCursor" ng-click="paginationCtrl.nextPage()" translate="NEXT"></a></li>
    </ul>
</nav>
